body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color:lightgreen; /* Light green background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensures the content takes full height of the viewport */
}

header {
    background-color: #4CAF50;
    text-align: center;
    padding: 1em 0;
    width: 100%; /* Ensures the header takes full width */
}

.resume-section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%; /* Set the width of the resume sections */
    max-width: 600px; /* Optional: Limit the maximum width of the sections */
    text-align: left; /* Align text inside the sections to the left */
}
