body{
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
header{
    color: black;
    font-weight: bolder;
    text-align: center;
}
p{
    
}